/* Hero  */

.listings-video-container {
  position: relative;
  height: 55vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 75em) {
  .listings-video-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 36em) {
  .listings-video-container {
    height: 60vh;
  }
}

.listings-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-font-color);
  opacity: 30%;
  z-index: 1;
}
.listings-header {
  margin-top: 60px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 36em) {
  .listings-header {
    margin-top: 30px;
  }
}
.listings-header-nav {
  margin-top: 50px;
  font-size: 20px;
  width: 550px;
  display: flex;
  justify-content: space-around;
}

.listings-header-nav a {
  box-sizing: border-box;
  color: var(--light-font-color);
  min-width: 140px;
  height: 50px;
  text-align: center;
  padding: 0 20px;
  margin: 0 9px;
  border-bottom: 1px solid transparent;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    border 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 36em) {
  .listings-header-nav {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .listings-header-nav a {
    width: 60px;
    height: 30px;
    margin: 5px 0;
  }
}

.listings-header-nav .listings-header-active {
  border-bottom: 2px solid var(--light-font-color);
  font-weight: bold;
  color: var(--light-font-color);
}

.listings-header-nav a:hover {
  border-bottom: 2px solid var(--light-font-color);
  font-weight: bold;
  color: var(--light-font-color);
}

.listings-video-container img {
  width: 300px;
  height: 140px;
  z-index: 99;
}

@media (max-width: 36em) {
  .listings-video-container img {
    width: 150px;
    height: 70px;
  }
}

.listings-video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
