/* Bottom Half */
.listings-home-bottom {
  margin-left: var(--main-left-margin);
  margin-right: var(--main-right-margin);
  background-repeat: no-repeat;
  background-position: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 75em) {
  .listings-home-bottom {
    margin-left: var(--responsive-left-margin);
  }
}

/* Home Suggestions */
.listings-suggestions {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  overflow: hidden;
}

.suggestion-container,
.suggestion-card,
.suggestion-image {
  border-radius: 15px;
  width: 100%;
}
.suggestion-container {
  margin: 7.5px;
  transition: transform 0.25s ease-in;
}

.suggestion-card {
  position: relative;
}

.suggestion-name {
  position: absolute;
  color: var(--light-font-color);
  top: 10px;
  left: 20px;
  z-index: 2;
}

.suggestion-image {
  overflow: hidden;
  filter: grayscale(0.6);
  transition: filter 0.25s ease-in;
}

.suggestion-container:hover {
  transform: translateY(-5px);
}
.suggestion-container:hover .suggestion-image {
  filter: grayscale(0);
}

@media (max-width: 62em) {
  .suggestion-container:nth-child(4) {
    display: none;
  }
}
@media (max-width: 48em) {
  .suggestion-container:nth-child(3) {
    display: none;
  }
}
@media (max-width: 36em) {
  .suggestion-container:nth-child(2) {
    display: none;
  }
}

/* USA CTA */
.listings-home-US {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  color: var(--dark-font-color);
}

.listings-home-US-title {
  font-size: 40px;
  color: var(--dark-font-color);
}

.listings-home-US p {
  font-size: 18px;
}

.listings-home-US-button {
  background: var(--light-font-color);
  color: var(--dark-secondary-color);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--dark-secondary-color);
  transition: all 0.25s ease-in;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.listings-home-US-button:hover {
  color: var(--light-font-color);
  background: var(--dark-secondary-color);
  box-shadow: 0px 10px 15px var(--primary-color);
  transform: translateY(-4px);
}

/* Popular Listings */
.home-listings__title.ant-typography {
  color: var(--dark-font-color);
  display: inline-block;
}
.home-listings-skeleton {
  padding: 40px 0 20px;
}
.home-listings-skeleton__card {
  margin: 5px 0;
}
.home-listings-skeleton__card-cover-img {
  width: 100%;
  height: 195px;
}

.home__listings {
  padding: 40px 0 20px;
}
.home__listings-title.ant-typography {
  color: var(--dark-font-color);
  display: inline-block;
}
.home__listings-img-cover {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 36em) {
  .home__listings-img-cover {
    padding: 10px 0;
  }
}
.home__listings-img {
  width: 100%;
}
