.landing-search-bar {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

@media (max-width: 36em) {
  .landing-search-bar {
    top: 85%;
  }
}
@media (max-width: 48em) {
  .landing-search-bar {
    top: 85%;
  }
}
@media (max-width: 36em) {
  .landing-search-bar {
    top: 85%;
  }
}

.landing-search-input {
  width: 85%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background: var(--bg-color);
}

.landing-search-button {
  border-radius: 5px;
  width: 12%;
  cursor: pointer;
  position: relative;
  color: var(--light-font-color);
  font-size: 24px;
}

.landing-search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 120px;
  overflow-y: auto;
  padding-left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: calc(300px + 1rem);
  position: absolute;
  z-index: 999;
  top: 73%;
}

@media (max-width: 48em) {
  .landing-suggestions {
    display: none;
  }
}

.suggestion-inactive {
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: var(--dark-font-color);
  z-index: 1000;
}

.suggestion-active,
.landing-suggestions li:hover {
  padding: 0.5rem;
  background-color: var(--dark-font-color);
  color: var(--light-font-color);
  cursor: pointer;
  font-weight: 700;
  z-index: 1000;
}

.landing-suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
  z-index: 1000;
}

.header-search-bar {
  max-width: 500px;
  margin-left: 10px;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  flex-grow: 1;
  transition: all 0.25s linear;
}

.header-search-input {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background: var(--bg-color);
  color: var(--dark-font-color);
  border: 1px solid var(--dark-font-color);
  flex-grow: 1;
}

.header-search-button {
  background: var(--dark-secondary-color);
  border-radius: 5px;
  width: 50px;
  cursor: pointer;
  position: relative;
  color: var(--bg-color);
  font-size: 20px;
  margin-left: 15px;
}

.header-search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 28em) {
  .header-search-bar {
    margin: 0;
    padding-left: 0;
  }
  .header-search-input {
    padding: 5px 5px;
  }

  .header-search-button {
    width: 30px;
    cursor: pointer;
    position: relative;
    color: var(--bg-color);
    font-size: 10px;
    margin-left: 5px;
  }
}

@media (max-width: 20em) {
  .header-search-bar {
    justify-content: flex-start;
  }
  .header-search-input {
    max-width: 120px;
  }
}
