/* Login Styles */
.log-in {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 62em) {
  .log-in {
    justify-content: center;
  }
}

.log-in-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: background 1s ease-in;
}

.log-in-card {
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 50px 30px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 18px;
  opacity: 80%;
  transition: opacity 0.5s ease-in;
}

@media (max-width: 75em) {
  .log-in-card {
    width: 50%;
  }
}
@media (max-width: 62em) {
  .log-in-card {
    width: 60%;
    border-radius: 15px;
    height: auto;
  }
}
@media (max-width: 48em) {
  .log-in-card {
    width: 90%;
    /* opacity: 100%; */
  }
}

.log-in-card > img {
  width: 50%;
}

.log-in-card:hover {
  opacity: 100%;
}

.log-in-card:hover ~ .log-in-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.log-in-card-intro h1 {
  font-size: 40px;
  color: var(--dark-font-color);
  margin: 15px 0;
}

.log-in-card-button {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  border: none;
  display: flex;
  align-items: center;
  padding: 1px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: background-color 0.25s ease-in;
}
.log-in-card-button:hover {
  background: var(--dark-font-color);
}

.log-in-card-button-text {
  color: var(--light-font-color);
  transition: color 0.25s ease-in;
}

.log-in-card-button-text:hover {
  color: var(--light-font-color);
}
.log-in-card-button-logo {
  height: 40px;
  margin: 5px;
}
.log-in-card-button-text {
  text-align: left;
  white-space: nowrap;
  padding: 5px 10px;
}
