@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color: #fff;
  --main-header-bg-color: #fff;
  --listings-bg-color: #fff;
}

.menu {
  width: 100%;
  padding: 0 20px;
  line-height: 63px;
  border: 0;
}
@media (max-width: 48em) {
  .menu {
    padding: 0;
  }
}
.app-header {
  display: flex;
  background: var(--main-header-bg-color);
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header__logo-search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header__logo {
  display: inline-block;
  padding: 0 20px;
}
.app-header__logo img {
  width: 36px;
}
.app-header__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.app-header__menu-section {
  float: right;
}
.app-header-skeleton {
  display: flex;
  background: var(--main-header-bg-color);
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header-skeleton__search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header-skeleton__logo {
  padding: 0 20px;
}
.app-header-skeleton__logo img {
  width: 55px;
}
.app-header-skeleton__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header-skeleton__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header-skeleton__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.error-banner {
  position: fixed;
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 99;
}

/* Map Card Styles */
.map-card__cover-img {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: 50%;
}
.map-card__price.ant-typography {
  color: #1d226c;
  margin: 0;
}
.map-card__price.ant-typography span {
  color: #bfbfbf;
  font-weight: 400;
}
.map-card__title.ant-typography,
.map-card__address.ant-typography {
  display: block;
}

/* Listing Card Styles */
.listing-card__cover-img {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: 50%;
}
.listing-card__rating-tag {
  position: absolute;
  top: 5px;
  right: 0;
}
.listing-card__description {
  padding-bottom: 12px;
}
.listing-card__price.ant-typography {
  color: #1d226c;
}
.listing-card__price.ant-typography span {
  color: #bfbfbf;
  font-weight: 400;
}
.listing-card__title.ant-typography,
.listing-card__address.ant-typography {
  display: block;
}
.listing-card-bottom i,
.listing-card-bottom span {
  padding-right: 5px;
  font-size: 13px;
}

.listing-card-bottom svg {
  margin-top: 25%;
}
.listing-card-bottom span {
  color: #bfbfbf;
}
.listing-card-bottom {
  display: flex;
  justify-content: space-between;
}

.listing-card-bottom-address {
  display: flex;
  width: 70%;
  white-space: nowrap;
  float: left;
}

.listing-card-bottom-guests {
  display: flex;
  width: 30%;
  white-space: nowrap;
  justify-content: flex-end;
}
@media (max-width: 75em) {
  .listing-card-bottom-guests {
    float: none;
    padding-bottom: 5px;
  }
}
@media (max-width: 48em) {
  .listing-card-bottom-guests {
    float: right;
    padding-bottom: 0;
  }
}

.home-hero,
.page-skeleton__paragraph {
  padding-bottom: 40px;
}
.home-hero {
  width: 100%;
}
.home-hero__search {
  max-width: 600px;
}
.home-hero__title.ant-typography {
  color: #1d226c;
}
.home-hero__search-input input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.home-hero__cards {
  padding-top: 60px;
}
.home-hero__cards .ant-card {
  background: transparent;
  cursor: pointer;
}
.home-hero__cards .ant-card-cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d226c;
  opacity: 0.5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.home-hero__cards .ant-card-cover:hover:before {
  background: none;
}
.home-hero__cards .ant-card-body {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  color: #fff;
  font-weight: 700;
  position: relative;
  bottom: 40px;
}
.home-listings {
  padding: 40px 0 20px;
}
.home-listings__title.ant-typography {
  color: #1d226c;
  display: inline-block;
}
.home-listings-skeleton {
  padding: 40px 0 20px;
}
.home-listings-skeleton__card {
  margin: 5px 0;
}
.home-listings-skeleton__card-cover-img {
  width: 100%;
  height: 195px;
}
.home {
  padding: 60px 60px;
  background-image: url(/static/media/map-background.c21df147.jpg);
  background-repeat: no-repeat;
  background-position: 10% 0;
}
@media (max-width: 75em) {
  .home {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.home__cta-section {
  padding: 40px 0;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.home__cta-section-title.ant-typography {
  color: #1d226c;
}
.home__cta-section-button {
  margin-top: 20px;
}
.home__listings {
  padding: 40px 0 20px;
}
.home__listings-title.ant-typography {
  color: #1d226c;
  display: inline-block;
}
.home__listings-img-cover {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 36em) {
  .home__listings-img-cover {
    padding: 10px 0;
  }
}
.home__listings-img {
  width: 100%;
}
.host-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 62em) {
  .host-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.host__form-header {
  padding-bottom: 20px;
}

.host__form-title.ant-typography {
  color: #1d226c;
  margin-bottom: 5px;
}

.host__form-image-upload img {
  width: 125px;
}
.listing-bookings h3.ant-typography,
.listing-bookings h4.ant-typography {
  color: #1d226c;
}
.listing-bookings__section {
  font-size: 15px;
  padding: 5px 0;
}
.listing-bookings__item {
  margin: 20px 0;
}
.listing-bookings__history {
  margin-bottom: 20px;
}
.listing-bookings__history > div {
  font-size: 13px;
  margin-bottom: 5px;
}
.listing-bookings__stars {
  font-size: 13px;
}
.listing-booking {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
@media (max-width: 62em) {
  .listing-booking {
    padding-top: 40px;
  }
}
.listing-booking__card-title.ant-typography {
  color: #1d226c;
  margin-bottom: 5px;
}
.listing-booking__card-title.ant-typography span {
  color: #bfbfbf;
  font-weight: 400;
}
.listing-booking__card {
  width: 100%;
  text-align: center;
}
.listing-booking__card-date-picker {
  padding-bottom: 20px;
}
.listing-booking__card-cta {
  display: block;
  margin: 0 auto 10px;
}
.ant-calendar-date__check-in {
  border: 1px solid #1890ff;
  border-radius: 50%;
}
.ant-calendar-footer-text {
  font-size: 11px;
  line-height: 20px;
  padding: 10px;
  display: block;
}
.listing-booking-modal {
  text-align: center;
  padding-top: 10px;
}
.listing-booking-modal__intro-title.ant-typography,
.listing-booking-modal__intro-title.ant-typography + h3.ant-typography {
  margin-top: 5px;
}
.listing-booking-modal__charge-summary-total {
  font-weight: 700;
  font-size: 15px;
}
.listing-booking-modal__charge-summary-stripe {
  display: block;
  font-size: 11px;
  padding-top: 5px;
}
.listing-booking-modal__stripe-card-section {
  padding-bottom: 10px;
}
.listing-booking-modal__stripe-card {
  padding: 10px;
  margin: 40px 0;
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.listing-booking-modal__cta {
  width: 100px;
}
.listing-details h3.ant-typography,
.listing-details h4.ant-typography {
  color: #1d226c;
}
.listing-details__image {
  width: 100%;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 20px;
  /* box-shadow: 0 -10px 10px -10px white inset; */
}
@media (max-width: 75em) {
  .listing-details__image {
    height: 380px;
  }
}
.listing-details__title.ant-typography {
  margin-top: 5px !important;
  margin-bottom: 5px;
}
.listing-details__title.ant-typography span {
  color: #bfbfbf;
  font-weight: 400;
}
.listing-details__city-address.ant-typography,
.listing-details__ratings.ant-typography {
  margin: 5px 0;
}
.listing-details__ratings.ant-typography {
  font-size: 13px;
}
.listing-details__host-name {
  font-family: Sacramento, cursive;
  display: inline-block;
  padding-left: 10px;
  position: relative;
  top: 5px;
}
.listing-details__section {
  font-size: 15px;
}
.listing-details__about-items {
  padding-bottom: 15px;
}
.listing-details__amenities-row {
  padding: 5px 0;
}
.listing-details__amenities-row i,
.listing-details__amenities-row span {
  padding: 0 2.5px;
}
.listing-details__booking-item {
  margin: 20px 0;
}
.listing-details__booking-history {
  margin-bottom: 20px;
}
.listing-details__booking-history > div {
  font-size: 13px;
  margin-bottom: 5px;
}
.listing-details__booking-stars {
  font-size: 13px;
}
.listing {
  padding: 15px 80px;
}
@media (max-width: 75em) {
  .listing {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.listings-filters {
  padding: 10px 0;
  background: #fff;
}
.listings-filters
  .ant-select-selection--single
  .ant-select-selection__rendered {
  margin-right: 30px;
}
.listings-filters span {
  padding-right: 5px;
}
.listings-pagination {
  padding: 10px 0;
  float: right;
}
@media (max-width: 48em) {
  .listings-pagination {
    float: none;
  }
}
.listings-skeleton__card {
  margin: 5px 0;
}
.listings-skeleton__card-cover-img {
  width: 100%;
  height: 195px;
}

.listings {
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 20px;
  display: flex;
}
.map {
  width: 70%;
  margin-left: 20px;
}

.map > div {
  padding: 0;
  margin: 0;
}

.listings-section {
  width: 100%;
}

.listings-list {
  height: 700px;
  overflow-x: hidden;
  overflow-y: visible;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #b2bec3;
}
.map-popup {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-popup-content > button {
  z-index: 100;
  background-color: #b2bec3a2;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-weight: bolder;
}

.mapboxgl-popup-content > button:hover {
  background-color: #b2bec3;
}

@media (max-width: 991px) {
  .listings {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .map {
    width: 100%;
    margin-left: 0;
  }

  .map > div {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .listings-list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .map-popup {
    display: initial;
  }

  .map-popup .ant-card-body {
    padding: 10px;
  }
}
.listings--none .ant-typography {
  font-size: 15px;
}
.listings__affix {
  background: var(--listings-bg-color);
  padding: 10px 0;
}
.listings__title.ant-typography {
  color: #1d226c;
}

/* Not Found Page Styles */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found__description-title.ant-typography {
  display: block;
  padding-bottom: 10px;
  color: #1d226c;
  font-size: 22px;
  font-weight: 700;
}
.not-found__description-subtitle.ant-typography {
  color: #1d226c;
  font-size: 16px;
}
.not-found__cta {
  margin-top: 20px;
}
.stripe {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  overflow: auto;
}
#root,
body,
html {
  height: 100%;
  width: 100%;
}
#app {
  position: relative;
  background: var(--main-bg-color);
  min-height: 100vh;
}
.app-skeleton {
  height: 100%;
  background: var(--main-bg-color);
  display: flex;
}
.app-skeleton__spin-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app__affix-header {
  z-index: 99;
}
.app__affix-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media (max-width: 36em) {
  .app__affix-footer {
    display: none;
  }
}

/* Login Styles */
.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438406Duy.jpg);
}
.log-in-card {
  width: 400px;
  text-align: center;
  padding: 10px 0 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15%;
}
.log-in-card__intro-title.ant-typography,
.log-in-card__intro-title.ant-typography + h3.ant-typography {
  margin-top: 5px;
}
.log-in-card-button {
  margin: 20px auto;
  border-radius: 1%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  border: none;
  display: flex;
  align-items: center;
  padding: 1px;
  color: #fff;
  cursor: pointer;
}
.log-in-card-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.log-in-card-button-logo {
  height: 33px;
  margin: 5px;
}
.log-in-card-button-text {
  text-align: left;
  white-space: nowrap;
  padding: 10px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
}

.log-in-card__facebook-button {
  background-color: #4267b2;
}
.log-in-card__facebook-button:active {
  background: #3367d6;
}

.log-in-card__google-button {
  background-color: #fff;
}
.log-in-card__google-button:active {
  background: #4285f4;
}

.log-in-card__google-button-text {
  color: darkslategray;
}

.log-in-card__google-button-text:active {
  color: #fff;
}

/* User Page Styles */
.user-bookings {
  padding-top: 10px;
}
.user-bookings__title.ant-typography {
  color: #1d226c;
  display: inline-block;
}
.user-bookings__description.ant-typography {
  font-size: 15px;
}
.user-bookings .ant-list-pagination {
  padding-bottom: 20px;
}
.user-bookings__booking-item {
  margin: 20px 0;
}
.user-bookings__booking-history {
  margin-bottom: 20px;
}
.user-bookings__booking-history > div {
  font-size: 13px;
  margin-bottom: 5px;
}
.user-bookings__booking-stars {
  font-size: 13px;
}
.user-listings {
  padding-top: 10px;
}
.user-listings__title.ant-typography {
  color: #1d226c;
  display: inline-block;
}
.user-listings .ant-list-pagination {
  padding-bottom: 20px;
}
.user-listings__description.ant-typography {
  font-size: 15px;
}
.user-profile {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.user-profile__card {
  width: 100%;
}
.user-profile__avatar {
  text-align: center;
}
.user-profile__details h4.ant-typography {
  color: #1d226c;
}
.user-profile__details div.ant-typography {
  font-size: 15px;
}
.user-profile__details-cta {
  margin-bottom: 20px;
}
.user {
  padding: 60px 60px;
}
@media (max-width: 75em) {
  .user {
    padding-left: 20px;
    padding-right: 20px;
  }
}
